.dropdown {
    position: relative;

    &__list {
        position: absolute;
        left: 5px;
        top: 30px;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        width: 120%;
        border-radius: 5px;
        background-color: #dfdbdb;
        transform: scaleY(0);
        transform-origin: top;
        transition: all 0.3s;

        .dropdown[data-open="true"] & {
            visibility: visible;
            opacity: 1;
            transform: scaleY(1);
        }
    }

    &__item {
        position: relative;
        width: 100%;
    }

    &__item:not(:last-child) {
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 93%;
            height: 2px;
            background-color: #fff;
            transform: translateX(-50%);
        }
    }

    &__link {
        display: block;
        padding: 7px;
        line-height: 1;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &__button {
        position: relative;
        padding-right: 26px;
        border: none;
        font-weight: 700;
        color: #000;
        background-color: transparent;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 10px;
            width: 10px;
            height: 6px;
            background-image: url("../images/icons/arrow.svg");
            transition: transform 0.3s;
        }
    }
}

.dropdown[data-open="true"] {
    .dropdown__button {
        &::after {
            transform: rotate(180deg);
        }
    }
}

.header {
    padding: 15px 0;
    background-color: #fff;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include w($sm) {
            flex-direction: column;
        }
    }

    &__logo {
        margin-left: -30px;

        @include w($xl) {
            margin-left: 0;
        }

        @include w($sm) {
            margin-bottom: 20px;
        }
    }

    &__right {
        display: flex;
        align-items: center;

        @include w($sm) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__dropdown {}

    &__sign {
        margin-left: 45px;
        padding: 15px 24px 15px 20px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.06);
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        @include w($md) {
            margin-left: 20px;
        }

        @include w($sm) {
            flex-basis: 100%;
            order: -1;
            margin-bottom: 10px;
            margin-left: 0;
        }
    }
}

.header__dropdown + .header__dropdown {
    margin-left: 65px;

    @include w($md) {
        margin-left: 20px;
    }

    @include w($sm) {
        margin-left: 0;
    }
}

.head-page {
    margin-bottom: 40px;
    background-color: #f3f3f2;

    &__inner {
        position: relative;
        z-index: 1;
        padding: 145px 0;

        @include w($sm) {
            padding: 60px 0;
        }
    }

    &__title {
        max-width: 390px;
        font-weight: 400;
        font-size: 48px;
        line-height: 1.1;

        @include w($sm) {
            font-size: 32px;
        }
    }

    &__subtitle {
        margin-bottom: 64px;
        max-width: 365px;
        font-size: 18px;
        color: $gray;

        @include w($sm) {
            font-size: 16px;
        }

        @include w($xsm) {
            margin-bottom: 20px;
        }
    }

    &__image {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        display: block;
        height: 105%;

        @include w($xl) {
            height: auto;
        }

        @include w($md) {
            opacity: 0.3;
        }

        @include w($xsm) {
            display: none;
        }
    }
}

.search-section {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 52px;
    max-width: 720px;
    border-radius: 8px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.12);
    background-color: #fff;

    &__label {
        @include w($md) {
            display: block;
            margin-bottom: 15px;
            width: 100%;
        }
    }

    &__note {
        display: block;
        font-size: 12px;
        color: #787573;
    }

    &__input {
        padding: 0 10px 0 0;
        border: none;

        &::placeholder {
            font-size: 13px;
            line-height: 1;
            color: #090808;
        }
    }

    &__button {
        position: relative;
        margin-left: auto;
        padding: 24px 40px 24px 65px;
        border: none;
        border-radius: 8px;
        color: #fff;
        background-color: #08786c;
        transition: background-color 0.3s;

        &::before {
            content: "";
            position: absolute;
            left: 39px;
            top: 50%;
            width: 16px;
            height: 16px;
            background-image: url("../images/icons/search.svg");
            transform: translateY(-50%);
        }

        &:hover {
            background-color: #004d45;
        }

        @include w($md) {
            margin-left: 0;
        }
    }

    @include w($md) {
        flex-direction: column;
        padding: 15px 52px;
    }

    @include w($xsm) {
        padding: 15px 10px;
    }
}

.search-section__label + .search-section__label {
    position: relative;
    margin-left: 30px;

    &::before {
        content: "";
        position: absolute;
        left: -18px;
        top: 50%;
        width: 1px;
        height: 36px;
        background-color: #cecdca;
        transform: translateY(-50%);

        @include w($md) {
            display: none;
        }
    }

    @include w($md) {
        margin-left: 0;
    }
}

.memberships {
    padding: 76px 0 96px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 64px;

        @include w($md) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include w($sm) {
            margin-bottom: 38px;
        }
    }

    &__title {
        margin-bottom: 24px;
        max-width: 315px;
        font-weight: 400;
        font-size: 32px;
        line-height: 1;

        &--bold {
            display: block;
            font-weight: 700;
        }

        @include w($sm) {
            margin-bottom: 10px;
            font-size: 26px;
        }
    }

    &__more {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
        line-height: 1;
        background-color: transparent;

        &::after {
            content: "";
            position: absolute;
            right: -18px;
            top: 3px;
            width: 12px;
            height: 10px;
            background-image: url("../images/icons/arro-right.svg");
        }

        &:hover::after {
            animation-name: arrow-right;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
        }

        @include w($md) {
            margin-bottom: 10px;
        }
    }

    &__top-right {
        font-size: 19px;
        color: #787573;
    }

    &__list {
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 64px 56px;
        grid-template-columns: repeat(3, 1fr);

        @include w($lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include w($sm) {
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
        }
    }

    &__item {
        position: relative;
        padding-top: 96px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 120px;
            height: 80px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--1::before {
            background-image: url("../images/icons/membership-1.svg");
        }

        &--2::before {
            background-image: url("../images/icons/membership-2.svg");
        }

        &--3::before {
            background-image: url("../images/icons/membership-3.svg");
        }

        &--4::before {
            background-image: url("../images/icons/membership-4.svg");
        }

        &--5::before {
            background-image: url("../images/icons/membership-5.svg");
        }

        &--6::before {
            background-image: url("../images/icons/membership-6.svg");
        }
    }

    &__item-title {
        font-size: 20px;

        @include w($sm) {
            font-size: 18px;
        }
    }

    &__item-text {
        @include line-clamp(5);

        color: $gray;
    }

    @include w($md) {
        padding: 30px 0 50px;
    }
}

@keyframes arrow-right {
    from {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    to {
        transform: translateX(0);
    }
}

.benefits {
    padding: 64px 0;
    background-color: #fbede4;

    &__inner {
        background-image: url("../images/benefits-bg.png");
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;

        @include w($xl) {
            padding-top: 530px;
            background-position: left top;
            background-size: auto;
        }

        @include w($md) {
            padding: 0;
            background-image: none;
        }
    }

    &__content {
        margin-left: auto;
        padding: 80px 0 68px;
        max-width: 478px;

        @include w($xl) {
            margin-left: 60px;
            padding-bottom: 0;
        }

        @include w($md) {
            margin-left: 0;
            padding: 0;
        }
    }

    &__title {
        margin-bottom: 37px;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.7;

        @include w($sm) {
            font-size: 22px;
        }
    }

    &__item {
        position: relative;
        padding-left: 68px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 53px;
            height: 52px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &--rates::before {
            background-image: url("../images/icons/benefits-1.png");
        }

        &--flexebility::before {
            background-image: url("../images/icons/benefits-2.png");
        }

        &--transfer::before {
            background-image: url("../images/icons/benefits-3.png");
        }

        @include w($sm) {
            padding-top: 60px;
            padding-left: 0;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 32px;

        @include w($sm) {
            margin-bottom: 18px;
        }
    }

    &__item--title {
        font-size: 20px;
    }

    @include w($sm) {
        padding: 32px 0;
    }
}

.landing-slider {
    padding: 120px 0;
    background-image: url("../images/icons/landing-slider-decor.svg");
    background-position: 20% 100%;
    background-repeat: no-repeat;
    background-color: #194240;

    &__container {
        position: relative;
        padding-left: 100px;

        @include w($lg) {
            padding: 0 30px;
        }

        @include w($sm) {
            padding: 0 15px;
        }
    }

    &__subtitle {
        display: block;
        margin-bottom: 32px;
        color: #fff;

        @include w($sm) {
            margin-bottom: 15px;
        }
    }

    &__title {
        margin-bottom: 105px;
        padding-top: 48px;
        max-width: 690px;
        font-weight: 400;
        font-size: 48px;
        color: #fff;

        @include w($lg) {
            margin-bottom: 50px;
            padding-top: 0;
        }

        @include w($md) {
            font-size: 32px;
        }

        @include w($sm) {
            margin-bottom: 15px;
            font-size: 22px;
        }
    }

    &__swiper {
        margin-bottom: 80px;

        @include w($lg) {
            margin-bottom: 38px;
        }

        @include w($sm) {
            margin-bottom: 20px;
        }
    }

    &__list {
        display: grid;
        grid-gap: 48px 24px;
        grid-template-columns: repeat(auto-fit, minmax(291px, 300px));
        padding-right: 48px;

        @include w($lg) {
            justify-content: center;
            padding-right: 0;
        }
    }

    &__item {
        overflow: hidden;
        cursor: pointer;

        &:hover > .landing-slider__image {
            transform: translateY(10px);
        }
    }

    &__image {
        margin-bottom: 16px;
        border-radius: 8px;
        transition: transform 0.3s;
    }

    &__capture {
        color: #fff;
    }

    @include w($lg) {
        padding: 60px 0;
    }

    @include w($sm) {
        padding: 30px 0;
    }
}

.landing-slider {
    .swiper {
        padding-bottom: 30px;
        cursor: grab;
    }

    .slider-button-prev,
    .slider-button-next {
        position: absolute;
        left: 50px;
        bottom: -9px;
        z-index: 100;
        border: none;
        background-color: transparent;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 101;
            width: 48px;
            height: 48px;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        svg {
            width: 16px;
            height: 12px;
            fill: #000;
        }

        @include w($lg) {
            display: none;
        }
    }

    .slider-button-prev {
        left: -5px;

        svg {
            transform: rotate(180deg);
        }
    }

    .swiper > .swiper-scrollbar {
        left: 100px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.4);

        @include w($lg) {
            left: 0;
            width: 100%;
        }
    }

    .swiper-scrollbar-drag {
        background-color: #fff;
    }

    .swiper-slide-active {
        .swiper-slide__image {
            border-radius: 8px;
        }
    }

    .swiper-slide__location {
        position: absolute;
        left: 24px;
        bottom: 16px;
        padding-left: 24px;
        color: #fff;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            width: 12px;
            height: 15px;
            background-image: url("../images/icons/location.svg");
        }

        @include w($lg) {
            left: 0;
            bottom: -24px;
        }
    }
}

.reviews {
    padding: 80px 0 72px;

    &__title {
        margin-bottom: 47px;
        max-width: 340px;
        font-size: 32px;

        @include w ($md) {
            margin-bottom: 20px;
        }

        @include w($sm) {
            font-size: 28px;
        }

        @include w($xsm) {
            font-size: 22px;
        }
    }

    &__list {}

    &__item {
        box-sizing: border-box;
        padding: 33px 26px;
        width: 100%;
        height: auto;
        border: 1px solid #cecdca;
        border-radius: 8px;

        @include w($xsm) {
            padding: 18px 15px;
        }
    }

    &__name {
        margin-bottom: 14px;
        font-size: 15px;
    }

    &__location {
        margin-bottom: 26px;
        color: rgba(0, 0, 0, 0.6);
    }

    @include w ($md) {
        padding: 30px 0;
    }
}

.star-range {
    position: relative;
    z-index: -1;
    margin: 0 0 24px;
    width: 96px;
    height: 20px;
    border: none;
    background-image: url("../images/icons/star.svg");
    background-size: 20% auto;
    background-repeat: repeat-x;

    &__input {
        position: absolute;
        visibility: hidden;
        width: 1px;
        height: 1px;
        overflow: hidden;
        font-size: inherit;
        clip: rect(0 0 0 0);
    }

    &__label {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        height: 20px;
        background-size: 19px auto;
        background-repeat: repeat-x;
        cursor: pointer;
    }

    &__label:nth-of-type(1) {
        z-index: 5;
        width: 20%;
    }

    &__label:nth-of-type(2) {
        z-index: 4;
        width: 40%;
    }

    &__label:nth-of-type(3) {
        z-index: 3;
        width: 60%;
    }

    &__label:nth-of-type(4) {
        z-index: 2;
        width: 80%;
    }

    &__label:nth-of-type(5) {
        z-index: 1;
        width: 100%;
    }
}

.star-range__input:checked + .star-range__label,
.star-range__label:hover {
    background-image: url("../images/icons/star-active.svg");
}

.star-range__input:focus + .star-range__label {
    outline: 1px solid #004d45;
    outline-offset: 3px;
}

.partners {
    &__container {
        position: relative;
        padding-bottom: 80px;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 42px;
            height: 48px;
            background-image: url("../images/icons/partners-bg.svg");
        }

        @include w($sm) {
            padding-bottom: 30px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include w($lg) {
            flex-wrap: wrap;
        }
    }

    &__item {
        max-width: 120px;

        @include w($lg) {
            margin-right: 18px;
        }

        @include w($sm) {
            margin-right: 0;
        }
    }

    svg {
        width: 100%;
    }
}

.offer {
    padding: 120px 0 96px;
    background-color: #1b1918;

    &__container {
        padding-left: 100px;

        @include w($md) {
            padding: 0 50px;
        }

        @include w($sm) {
            padding: 0 15px;
        }
    }

    &__title {
        margin-bottom: 23px;
        font-size: 32px;
        color: #fff;

        @include w($sm) {
            font-size: 22px;
        }
    }

    &__subtitle {
        margin-bottom: 80px;
        max-width: 440px;
        color: #a7a6a4;

        @include w($md) {
            margin-bottom: 30px;
        }
    }

    &__slider {
        margin-bottom: 96px;

        @include w($md) {
            margin-bottom: 30px;
        }
    }

    @include w($md) {
        padding: 60px 0;
    }

    @include w($sm) {
        padding: 30px 0;
    }
}

.offer-slider {
    padding-bottom: 29px;
    cursor: grab;

    &__item {
        position: relative;
        width: 288px;
        height: 208px;
    }

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__location {
        position: absolute;
        left: 24px;
        bottom: 16px;
        font-size: 24px;
        color: #fff;
    }

    .slider-button-prev,
    .slider-button-next {
        position: absolute;
        left: 50px;
        bottom: -9px;
        z-index: 100;
        border: none;
        background-color: transparent;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 101;
            width: 48px;
            height: 48px;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        svg {
            width: 16px;
            height: 12px;
            fill: #000;
        }

        @include w($lg) {
            display: none;
        }
    }

    .slider-button-prev {
        left: -5px;

        svg {
            transform: rotate(180deg);
        }
    }

    .swiper-scrollbar {
        left: 100px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.4);

        @include w($lg) {
            left: 0;
            width: 100%;
        }
    }

    .swiper-scrollbar-drag {
        background-color: #fff;
    }
}

.cities {
    &__title {
        margin-bottom: 28px;
        font-size: 20px;
        color: #fff;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @include w($md) {
            justify-content: space-between;
            margin-bottom: 15px;
            height: 300px;
            overflow-y: scroll;
        }
    }

    &__item {
        margin-bottom: 28px;
        width: 100%;
        max-width: 196px;
        font-size: 14px;
        color: #fff;

        @include w($md) {
            max-width: 130px;
        }

        @include w($sm) {
            font-size: 16px;
        }
    }

    &__item-name {
        margin-bottom: 8px;
    }

    &__item-state {
        color: #a7a6a4;
    }

    &__button {
        padding: 14px 24px;
        border: none;
        border-radius: 8px;
        color: #fff;
        background-color: #2e2b29;
        transition: background-color 0.3s;

        &:hover {
            background-color: #4e4848;
        }
    }
}

.footer {
    background-color: #194240;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 95px 0 64px;
    font-size: 14px;

    &__content {
        padding-top: 55px;

        p {
            max-width: 342px;
            color: rgba(255, 255, 255, 0.8);
        }

        @include w($xl) {
            flex-shrink: 0;
            margin-right: 28px;
        }

        @include w($lg) {
            margin-bottom: 30px;
            padding-top: 0;
        }
    }

    @include w($sm) {
        font-size: 16px;
    }

    @include w($md) {
        padding: 30px 0;
    }

    @include w($lg) {
        flex-direction: column;
    }
}

.footer-columns {
    display: flex;

    &__body {
        width: 206px;

        @include w($xl) {
            width: 100%;
            max-width: 206px;
        }

        @include w($sm) {
            width: 50%;
            max-width: auto;
        }
    }

    &__caption {
        display: block;
        margin-bottom: 24px;
        color: #fff;

        @include w($md) {
            margin-bottom: 15px;
        }
    }

    &__list {}

    &__item {
        margin-bottom: 12px;
        color: rgba(255, 255, 255, 0.8);
        transition: color 0.3s;

        &:hover {
            color: #fff;
        }

        @include w($md) {
            margin-bottom: 8px;
        }
    }

    @include w($sm) {
        flex-wrap: wrap;
    }

    @include w($xl) {
        flex-grow: 1;
    }
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0 64px;
    border-top: 1px solid #e5e7eb;
    color: rgba(255, 255, 255, 0.3);

    &__copy {
        font-size: 14px;

        @include w($sm) {
            margin-bottom: 10px;
            font-size: 16px;
        }
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__phone {
        margin-right: 16px;
        font-size: 12px;
        transition: color 0.3s;

        &:hover {
            color: #fff;
        }

        @include w($sm) {
            font-size: 16px;
        }
    }

    &__social {
        display: flex;
    }

    &__social-item {
        line-height: 0;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 16px;
        }

        svg {
            width: 22px;
            height: 22px;
            fill: rgba(0, 0, 0, 0.7);
            transition: fill 0.3s;
        }

        &:hover > svg {
            fill: #fff;
        }
    }

    @include w($md) {
        padding: 20px 0 30px;
    }

    @include w($sm) {
        flex-direction: column;
    }
}